[Unit]
Description=Open Virtual Machine Tools (VMware Tools)
ConditionVirtualization=vmware

[Service]
ExecStart=/usr/bin/vmtoolsd
Restart=always
KillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
